@import "../../../../styles/variable.scss";
.header {
  width: 100%;
  height: $header-home-height;
  background-color: #000;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: auto;
  max-width: 1200px;
  color: #fff;
  font-size: 20px;
}
