@import '../../../styles/variable.scss';
$height-input: 40px;
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    font-size: 22px;
    white-space: nowrap;
    font-weight: 600;
    margin-bottom: 0;
}

.header-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 8px;
    position: relative;
    .form-title {
        font-size: 14px;
        color: #333;
        font-weight: 600;
        white-space: nowrap;
        font-family: 'Poppins';
        margin-bottom: 0;
    }
    .filter {
        border-radius: 10px;
        font-weight: 400 !important;
        option {
            font-weight: inherit;
        }
    }
}

.filter {
    margin-left: 10px;
    height: $height-input;
    font-size: 14px;
    padding: 0 20px;
    outline: none;
    font-weight: 600;
    option {
        font-weight: inherit;
    }
}

.topic-search-popper {
    width: 278px;
}

.account-detail {
    width: 100%;
    .card {
        width: 100%;
        margin-top: 15px;
        min-height: 700px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .separate {
        width: 1px;
        height: 200px;
        background-color: #ccc;
    }
    .image-wrapper {
        position: relative;
        &:hover {
            .hover-image {
                display: flex;
            }
        }
    }
    .hover-image {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        align-items: center;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        button {
            color: #fff;
            font-size: 14px;
            width: 100%;
        }
    }
    .avatar-name {
        margin-top: 10px;
        font-size: 22px;
        font-weight: 500;
    }
    .avatar-detail {
        margin-top: 10px;
        font-size: 18px;
        font-weight: 500;
        display: block;
    }
    .form-profile {
        width: 500px;
    }
    .card-actions {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        padding: 0 30px;
    }
    .card-analytics {
        padding: 0 45px;
        .avatar-detail {
            font-size: 22px;
        }
    }
    .card-btn {
        border-radius: 20px;
        margin-left: 20px;
        padding: 4px 20px;
    }
}

.avatar-dialog__img-wrapper {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .image-avatar {
        border: 1px solid #000;
        &:hover {
            border-color: #ddd;
        }
    }
}