//bg-color
$bg-header: rgb(0, 152, 121);
$bg-layout: #f5f5f5;
$bg-color: #242526;
//recycle-color
$bg-primary: linear-gradient(
  92.39deg,
  #fdc133 9.48%,
  #ffb400 24.1%,
  #f19100 78.81%
);
$primary-color: #ffb400;
$hover-color: #e6e6e6;
$white-color: #fff;
$black-color: #000;
$text-color: #333;
$gray-color: #767676;
$blue-link: #4599ff;
$success-color: #00925d;
$danger-color: #dc3545;
$disabled-color: #d5d5d5;
$border-color: #dbdbdb;
$text-muted: rgba(0, 0, 0, 0.54);
$text-hint: rgba(0, 0, 0, 0.38);
$border-color: #dbdbdb;
$border-primary: hsla(0, 0%, 100%, 0.1);
$box-shadow: 0 1px 3.125rem 0 rgb(0 0 0 / 20%);
$primary-icon: #e4e6eb;
//variable
$header-height: 80px;
$sidebar-width: 360px;
$header-width: 70px;
$sidebar-md-width: 67px;
$header-home-height: 72px;
