@import '../../../../styles/variable.scss';
.sidebar {
    background: $bg-primary;
    transition: all 0.3s ease-in-out;
    transform: translateX(0);
    width: var(--sidebar-width);
    // padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    float: left;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.logo {
    height: 50px;
}

.logo-default {
    display: block;
}

.logo-small {
    display: none;
}

.sidebar__list {
    height: 100%;
}

.menu-title {
    white-space: nowrap;
}

@media only screen and (min-width: 481px) and (max-width: 970px) {
    .logo-default {
        display: none;
    }
    .logo-small {
        display: block;
    }
    .menu-title {
        display: none;
    }
}

.sidebar-item {
    min-height: 46px;
    font-size: 16px;
    position: relative;
    .activeLink {
        display: block !important;
    }
    svg {
        margin-right: 10px;
        fill: $white-color;
        font-size: 20px;
        background-color: transparent;
    }
}

.item-link {
    padding: 11px 0 11px 28px;
    color: $white-color;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.children {
    display: none;
    .children-link {
        padding: 11px 0 11px 55px;
        color: $white-color;
        display: flex;
        align-items: center;
    }
}

.link--active {
    background: rgba(0, 0, 0, 0.2);
    color: $white-color;
    border: none;
}

.sidebar-item a:hover {
    background: rgba(0, 0, 0, 0.2);
    color: $white-color;
}

.item--dropdown {
    justify-content: space-between;
}

.hide {
    transition: opacity 0.3s;
}

.shrink {
    width: 0;
    .hide {
        opacity: 0;
    }
}