@import "../../../../styles/variable.scss";
.header {
  width: 100%;
  height: $header-home-height;
  background-color: #fff;
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   z-index: 1;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  // abc
  padding: 0;
  margin: auto;
  max-width: 1200px;
}

// Search
.left {
  padding: 0 16px;
  width: 320px;
  img {
    height: 50px;
  }
}
