@import '../../../styles/variable.scss';
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;
    width: 100%;
    min-height: 100vh;
    height: auto;
}