@import "../../../styles/variable.scss";
.wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    min-width: 40px;
    border-radius: 50px;
    background-color: $comment-bg;
}

// Custom search
.header-search {
    min-height: 40px;
    background-color: #3a3b3c;
    color: #606770;
}

.menu-search {
    min-height: 36px;
    background-color: #3a3b3c;
    color: #606770;
}

// End custom search
.icon-wrapper {
    padding-left: 12px;
    display: flex;
    align-items: center;
    transition-duration: 200ms;
    .icon {
        height: 16px;
        width: 16px;
        transition-duration: 200ms;
        color: $secondary-icon;
    }
    .icon--hide {
        margin-right: -20px;
        opacity: 0;
        transform: translateX(-12px);
    }
}

.text-search {
    width: 100%;
    padding: 8px 9px;
    font-size: 15px;
    color: $primary-text;
    transition-duration: 200ms;
    &::placeholder {
        font-size: 15px;
        color: $secondary-icon;
    }
}